<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    
      <mat-card class="cards">

        <mat-card-content class="date">
          <mat-card-title>
            <p class="month">Jan</p>
              <p class="num">17</p>
              <p class="month">2023</p>
          </mat-card-title>
        </mat-card-content>

          <mat-card-content class="info">
          <mat-card-content >
            <h2 class="head">Haircut</h2>
              <h2 class="head">Barber Style Cut</h2>
          </mat-card-content>
          <mat-card-content class="info-booked">
            Booked by:<img src="../assets/man.png" alt=""> <span style="margin-left: 5px;">John Doe</span> <img src="../assets/phone.png" alt="">
          </mat-card-content>
          <mat-card-content>
            <p class="time">
            <img src="../assets/clock.png" alt="">9:00 AM
          </p>
        </mat-card-content>
 
          <mat-card-actions class="button">
            <button>Premium</button> 
          </mat-card-actions>
        </mat-card-content>

        <mat-card-content class="cost">
          <mat-card-title >
            <p>Est cost</p>
              <p class="rupee">$175</p>
              <p class="pay">Un paid</p>
          </mat-card-title>
        </mat-card-content>
    </mat-card>

    <mat-card class="cards">

      <mat-card-content class="date">
        <mat-card-title>
          <p class="month">Jan</p>
            <p class="num">16</p>
            <p class="month">2023</p>
        </mat-card-title>
      </mat-card-content>

        <mat-card-content class="info">
        <mat-card-content >
          <h2 class="head">Haircut</h2>
        </mat-card-content>
        <mat-card-content class="info-booked">
          Booked by:<img src="../assets/man.png" alt=""> <span style="margin-left: 5px;">John Doe</span> <img src="../assets/phone.png" alt="">
        </mat-card-content>
        <mat-card-content>
          <p class="time">
          <img src="../assets/clock.png" alt="">9:00 AM
        </p>
      </mat-card-content>

        <mat-card-actions class="button">
          <button>Premium</button> 
        </mat-card-actions>
      </mat-card-content>

      <mat-card-content class="cost">
        <mat-card-title >
          <p>Est cost</p>
            <p class="rupee">$100</p>
            <p class="pay">Un paid</p>
        </mat-card-title>
      </mat-card-content>
  </mat-card>
  <mat-card class="cards">

    <mat-card-content class="date">
      <mat-card-title>
        <p class="month">Jan</p>
          <p class="num">17</p>
          <p class="month">2023</p>
      </mat-card-title>
    </mat-card-content>

      <mat-card-content class="info">
      <mat-card-content >
        <h2 class="head">Haircut</h2>
      </mat-card-content>
      <mat-card-content class="info-booked">
        Booked by:<img src="../assets/man.png" alt=""> <span style="margin-left: 5px;">John Doe</span> <img src="../assets/phone.png" alt="">
      </mat-card-content>
      <mat-card-content>
        <p class="time">
        <img src="../assets/clock.png" alt="">9:00 AM
      </p>
    </mat-card-content>

      <mat-card-actions class="button">
        <button>Premium</button> 
      </mat-card-actions>
    </mat-card-content>

    <mat-card-content class="cost">
      <mat-card-title >
        <p>Est cost</p>
          <p class="rupee">$100</p>
          <p class="pay">Un paid</p>
      </mat-card-title>
    </mat-card-content>
</mat-card>
      
</body>
</html>

